@tailwind base;
@tailwind components;
@tailwind utilities;


/* @keyframes hero-gradient-animation {
    0% {
        --c-0: hsla(349.6, 82%, 82%, 1);
        --s-start-0: 0%;
        --s-end-0: 50%;
        --y-0: 100%;
        --x-0: 0%;
        --s-start-1: 0%;
        --s-end-1: 50%;
        --c-1: hsla(218.75000000000003, 32%, 71%, 1);
        --y-1: 36%;
        --x-1: 20%;
        --y-2: 13%;
        --x-2: 86%;
        --c-2: hsla(258, 16%, 84%, 1);
        --s-start-2: 28.923808318371183%;
        --s-end-2: 50%;
        --s-start-3: 0%;
        --s-end-3: 32.10865676416381%;
        --x-3: 84%;
        --c-3: hsla(28.82352941176471, 91%, 56%, 1);
        --y-3: 84%;
    }

    100% {
        --c-0: hsla(349.6, 82%, 82%, 1);
        --s-start-0: 5;
        --s-end-0: 61;
        --y-0: 66%;
        --x-0: 17%;
        --s-start-1: 5;
        --s-end-1: 61;
        --c-1: hsla(218.75000000000003, 32%, 71%, 1);
        --y-1: 39%;
        --x-1: 89%;
        --y-2: 43%;
        --x-2: 49%;
        --c-2: hsla(258, 16%, 84%, 1);
        --s-start-2: 5;
        --s-end-2: 61;
        --s-start-3: 5;
        --s-end-3: 61;
        --x-3: 20%;
        --c-3: hsla(28.823529411764714, 91%, 56%, 1);
        --y-3: 12%;
    }
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(349.6, 82%, 82%, 1)
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 50%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 100%
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 50%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(218.75000000000003, 32%, 71%, 1)
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 36%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 20%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 86%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(258, 16%, 84%, 1)
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 28.923808318371183%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 50%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 32.10865676416381%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 84%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(28.82352941176471, 91%, 56%, 1)
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 84%
}

.gradient_background {
    --c-0: hsla(349.6, 82%, 82%, 1);
    --y-0: 100%;
    --x-0: 0%;
    --c-1: hsla(218.75000000000003, 32%, 71%, 1);
    --y-1: 36%;
    --x-1: 20%;
    --y-2: 13%;
    --x-2: 86%;
    --c-2: hsla(258, 16%, 84%, 1);
    --x-3: 84%;
    --c-3: hsla(28.82352941176471, 91%, 56%, 1);
    --y-3: 84%;
    ;
    background-color: hsla(23.000000000000004, 59%, 95%, 1);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 2865 2865' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: overlay, normal, normal, normal, normal;
} */



.gradient_background {
    background-color: hsla(333, 0%, 100%, 1);
    background-image: radial-gradient(circle at 0% 0%, hsla(64, 82%, 77%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 20% 0%, hsla(5, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 40% 0%, hsla(315, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 60% 0%, hsla(256, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 80% 0%, hsla(191, 77%, 74%, 0.35) 3.1210986267166043%, transparent 40%), radial-gradient(circle at 100% 0%, hsla(152, 77%, 74%, 0.35) 3%, transparent 40%);
    background-blend-mode: normal, normal, normal, normal, normal, normal;
}